<div class="container">
    <div class="row">
        <div *ngFor="let stock of stocks; let stockId = index" class="col-sm">
            <a [routerLink]="[ stock._id ]">
            <div class="card">
                <img src="{{ stock.coverImage }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ stock.name }}</h5> 
                    <p class="card-text">{{ stock.description }}</p>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>